body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 15pt;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

section h2 {
  margin-bottom: 10px;
}

section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section li {
  margin-bottom: 5px;
  font-size: 20pt;
}

section img {
  border: 3px solid black;
  border-radius: 50%;
  width: 250px;
}

section p {
  font-size: 20pt;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para telas menores que 768px */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  header {
    padding: 10px;
  }
  nav li {
    margin-left: 10px;
  }
  main {
    padding: 10px;
  }
  section ul {
    padding-left: 20px;
  }
  footer {
    padding: 5px;
  }
}

/* Estilos para telas maiores que 768px */
@media screen and (min-width: 769px) {
  body {
    font-size: 18px;
  }
  header {
    padding: 20px;
  }
  nav li {
    margin-left: 20px;
  }
  main {
    padding: 20px;
  }
  section ul {
    padding-left: 30px;
  }
  footer {
    padding: 10px;
  }
}
